$color-primary: #1F1B37;
$color-secondary: #1080C4;

$color-white: #fff;
$color-grey-light: #eee;

$color-black: #000;

$color-error: #B30315;

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;