.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  grid-template-rows: minmax(40px, 1fr) [nav-start] min-content [nav-end content-start] max-content [content-end] minmax(40px, 1fr);
  background: $color-secondary;
  min-height: 100vh;

  @include respond(tab-land) {
    grid-template-rows: [nav-start] min-content [nav-end content-start] minmax(max-content, 1fr) [content-end]
  }
}

.main-content {
  grid-row: content-start / content-end;
  grid-column: 2 / 12;
  background: $color-grey-light;

  @include respond(tab-land) {
    grid-column: 1 / -1;
  }
}

.calculation-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 32px 64px;
  grid-gap: 64px;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    padding: 16px;
    grid-gap: 16px;
  }
}

