.nav {
  grid-column: col-start 2 / col-end 11;
  grid-row: nav-start / nav-end;
  display: flex;
  align-items: center;
  background: $color-primary;
  padding: 32px;

  @include respond(tab-land) {
    grid-column: 1 / -1;
    justify-content: space-between;
    padding: 16px;
  }


  &__logo {
    display: inline-block;
    width: 150px;

    @include respond(tab-port) {
      width: 60px;
    }
  }

  &__heading {
    width: 100%;
    text-align: center;
    padding-right: 75px;
    font-size: 36px;
    color: $color-white;
    font-family: $font-primary;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include respond(tab-port) {
      font-size: 16px;
      padding: 0;
      text-align: right;
    }
  }
}